Cython
librosa==0.10.1
matplotlib>=3.7,<3.9
numpy>=1.24,<2.0
scipy>=1.10,<1.13
tensorboard>=2.14,<2.17
unidecode
pyopenjtalk
jamo
pypinyin
jieba
protobuf<4.25
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration
num_thai
opencc
ipython
gradio